<!-- Filtros -->

<form #frm="ngForm">


    <div class="p-4 bg-white shadow">
        <div class="flex flex-col md:flex-row items-center justify-center gap-4">


            <input type="text" 
                [(ngModel)]="nomeFiltro"
                placeholder="Pesquisando pelo nome do local"
                class="w-full border border-gray-300 p-2 rounded shadow-sm focus:ring focus:ring-blue-400"
            />
            <select name="categoriaFiltro"
                    [(ngModel)]="categoriaFiltro"
                    class="w-full border border-gray-300 p-2 rounded shadow-sm focus:ring focus:ring-blue-400">
                <option [value]="">Todas as Categorias</option>
                <option *ngFor="let cat of categoriasFiltro" [value]="cat.nome" >{{ cat.nome }}</option>
            </select>

            <button (click)="filtrar()" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-800">
                Pesquisar
            </button>

        </div>
    </div>

</form>

<!-- Listagem dos Lugares -->
<div class="p-4 grid grid-col-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="bg-white shadow rounded overflow-hidden" *ngFor="let lug of lugar">
        <img [src]="lug.urlFoto" [alt]="lug.nome" class="w-full h-40 object-cover" />
        <div class="p-4">
            <h2 class="text-lg font-semibold">{{lug.nome}}</h2>
            <p class="text-gray-500">Categoria: <span class="text-blue-600 ">{{ lug.categoria }}</span></p>
            <p class="text-gray-500">Localização: {{ lug.localizacao }}</p>
            <div class="mt-2 flex item-center">
                <span class="text-yellow-500" [innerHTML]="getTotalEstrelas(lug)"></span>
                <span class="ml-2 text-grey-600">{{ lug.avaliacao }} </span>
            </div>
        </div>
    </div>

</div>