<div class="p-6 max-w-lg mx-auto bg-white shadow-lg rounded-lg mt-6">
    <h2 class="text-2x1 font-semibold text-gray-700 mg-4 ">Novo Lugar</h2>
    <hr />

     <form id="lugarForm" [formGroup]="camposForm" (ngSubmit)="salvar()">
        <div calss="mb-4">
            <label for="nome" class="block text-gray-600 font-medium mb-2">Nome do Lugar</label>
            <input
                type="text"
                id="nome"
                name="nome"
                formControlName="nome"
                placeholder="Ex: Praia do Sol, Restaurante Estrela"
                class="w-full p-3 border border-grey-300 rounded shadow-sm focus:ring focus:ring-blue-400"
             />

             <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('nome')"> Campo Obrigatório</span>
        </div>
        <br>

        <div class="mb-4">
            <label for="categoria" class="block text-grey-600 font-medium mb-2">Categoria</label>
            <select
            id="categoria"
            name="categoria"
            formControlName="categoria"
            class="w-full p-3 border border-grey-300 rounded shadow-sm focus:outline-none focus:ring focus:ring-blue-400"
            >
            <option [value]="">Selecione uma categoria</option>
            <option *ngFor="let cat of categorias" [value]="cat.nome">{{cat.nome}}</option>
            </select>
            <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('categoria')"> Campo Obrigatório</span>
        </div>

        <div class="mb-4">
             <label for="localizacao" class="block text-gray-600 font-medium mb-2">Localização</label>
            <input
                type="text"
                id="localizacao"
                name="localizacao"
                formControlName="localizacao"
                placeholder="Ex: São Paulo"
                class="w-full p-3 border border-grey-300 rounded shadow-sm focus:ring focus:ring-blue-400"
             />
             <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('localizacao')"> Campo Obrigatório</span>
        </div>
        
        <div class="mb-4">
             <label for="urlFoto" class="block text-gray-600 font-medium mb-2">Foto</label>
            <input
                type="text"
                id="urlFoto"
                name="urlFoto"
                formControlName="urlFoto"
                placeholder="Ex: http://exemplo.com/foto.jpg"
                class="w-full p-3 border border-grey-300 rounded shadow-sm focus:ring focus:ring-blue-400"
             />
             <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('urlFoto')"> Campo Obrigatório</span>
        </div>

         <div class="mb-4">
             <label for="avaliacao" class="block text-gray-600 font-medium mb-2">Avaliação</label>
            <select
                id="avaliacao"
                name="avaliacao"
                formControlName="avaliacao"
                class="w-full p-3 border border-grey-300 rounded shadow-sm focus:ring focus:ring-blue-400"
             >
            <option [value]="">Selecione uma Avaliação</option>
            <option *ngFor="let avaliacao of avaliacoes" [value]="avaliacao.nota">
                {{avaliacao.nota}} - {{avaliacao.descricao}}
            </option>
            </select>
            <span class="text-red-500 text-sm" *ngIf="isCampoInvalido('avaliacao')"> Campo Obrigatório</span>


        </div>

        
    <button type="submit" 
            class="w-full bg-blue-600 text-white font-semibold p-3 rounded shadow hover:bg-blue-700">
        Cadastrar Lugar
    </button>

     </form>


    </div>


